body {
  font-family: 'Varela Round', sans-serif;
}

i {
  background: transparent;
}

#main-checkout-container {
  display: flex;
  justify-content: space-around;
}

#wrapper {
  width: 100%;
  max-width: 1128px;
  height: 100%;
  margin: 0 auto;
  padding-top: 24px;
}