body {
  font-family: 'Varela Round', sans-serif;
}

i {
  background: transparent;
}

#main-checkout-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#wrapper {
  width: 100%;
  max-width: 1128px;
  height: 100%;
  margin: 0 auto;
  padding-top: 24px;
}