.display-calendar-component{
  width: 100%;
}

.display-calendar-component > * {
  margin-bottom: 10px;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
}

#calendarMessage {
  font-size: 1.2em;
}

#calendarSubMessage {
  color: grey;
  font-size: 0.8em;
}

#keyboard-input-svg {
  display: block;
  height: 32px;
  width: 32px;
  fill: currentcolor;
}