.counter-wrapper {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.counter-wrapper > div {
  padding: 0 5px;
}

.counter-wrapper > div {
  padding: 0 5px;
}

.individual-containers {
  display: flex;
  justify-content: space-between;
}



.counter-containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container-individual-title {
  display: flex;
  justify-content: space-between;
}