.weekdays-dates-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 5px;
}

.month-name-container {
  text-align: center;
  width: 100%;
}

.full-month-container {
  width: 100%;
  text-align: center;
}