button {
  border-radius: 50%;
  background-color: white;
  border-style: none;
  height:auto;
  width: auto;
  margin: 10px;
  font-size: x-large;
}

button:focus {
  outline:0;
}

button:hover {
  border-style: solid;
  border-width: thin;
}

.carousel {
  width: 100%;
}

.weekdays-dates-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 5px;
  font-size: small;
  animation: slideIn .4s forwards;

}

.month-name-container {
  display: grid;
  text-align: center;
  width: 100%;
  font-size: x-large;
  grid-template-columns: 1fr 2fr 1fr;

}

.full-month-container {
  width: 100%;
  text-align: center;

}

@keyframes slideIn {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}