button {
  border-radius: 50%;
  background-color: white;
  border-style: none;
  height: fit-content;
  font-size: 0.9rem;
  padding: 0;
}

button:focus {
  outline: 0;
}

.dates {
  height: 77px;
  width: 77px;
}

.dates:hover {
  border-style: solid;
  border-width: thin;
}

.carousel {
  width: 100%;
}

.weekdays-dates-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 5px;
  font-size: 0.9rem;
}

.slideable--left {
  animation: slideInFromLeft 0.4s forwards;
}

.slideable--right {
  animation: slideInFromLeft 0.4s forwards;
}

.full-month-dates-container {
  width: 100%;
  text-align: center;
}

.month-name-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1rem;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
